<div class="jumbotron">
  <div class="page-header">
    <h1>About Blocitoff</h1>
  </div>
  <div>
    <p>Welcome TO-DO'ers to Blocitoff.</p>
    <p>Blocitoff is a unique web app that allows you to track and maintain your busy life.</p>
    <p>Blocitoff automatically deletes tasks that are a week old in hopes of encouraging you to stay on task.</p>
    <p>Click below to get your hectic schedule under control.</p>
    <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a></p>
  </div>
</div>
